<head>
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Details</h1>
    <a href="/">Home</a>
    <a href="/new">New Message</a>
    

    <p><span style="font-weight: bold;">Message Text: </span><%= message.text %></p>
    <p><span style="font-weight: bold;">Created By: </span><%= message.user %></p>
    <p><span style="font-weight: bold;">Created At: </span><%= message.added %></p>
</body>

