<head>
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <a href="/">Home</a>
    <h1>New Message</h1>
    <form action="/new" method="post">
        <input type="text" name="message" placeholder="Message">
        <input type="text" name="user" placeholder="User">
        <button type="submit">Submit</button>
    </form>
</body>
